<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrencyList</key>
	<array>
		<dict>
			<key>currency_name</key>
			<string>ARS</string>
			<key>currency_value</key>
			<string>180.3841</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>AUD</string>
			<key>currency_value</key>
			<string>54.8541</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>BRL</string>
			<key>currency_value</key>
			<string>90.7018</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>CAD</string>
			<key>currency_value</key>
			<string>56.3779</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>CHF</string>
			<key>currency_value</key>
			<string>45.3795</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>CNY</string>
			<key>currency_value</key>
			<string>365.1102</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>COP</string>
			<key>currency_value</key>
			<string>124988.6094</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>EUR</string>
			<key>currency_value</key>
			<string>39.823</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>GBP</string>
			<key>currency_value</key>
			<string>34.8165</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>HKD</string>
			<key>currency_value</key>
			<string>444.8023</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>IDR</string>
			<key>currency_value</key>
			<string>490856.7541</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>INR</string>
			<key>currency_value</key>
			<string>2592.055</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>JPY</string>
			<key>currency_value</key>
			<string>4395.3234</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>KWD</string>
			<key>currency_value</key>
			<string>15.5981</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>MXN</string>
			<key>currency_value</key>
			<string>703.0398</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>MYR</string>
			<key>currency_value</key>
			<string>172.3072</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>NZD</string>
			<key>currency_value</key>
			<string>68.7109</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>PEN</string>
			<key>currency_value</key>
			<string>159.6362</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>PHP</string>
			<key>currency_value</key>
			<string>2440.742</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>RUR</string>
			<key>currency_value</key>
			<string>1644.0216</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>SEK</string>
			<key>currency_value</key>
			<string>370.0136</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>SGD</string>
			<key>currency_value</key>
			<string>69.0832</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>TRL</string>
			<key>currency_value</key>
			<string>76873766.0864</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>USD</string>
			<key>currency_value</key>
			<string>57.2829</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>VUV</string>
			<key>currency_value</key>
			<string>5324.4534</string>
		</dict>
		<dict>
			<key>currency_name</key>
			<string>ZAR</string>
			<key>currency_value</key>
			<string>408.1469</string>
		</dict>
	</array>
	<key>KaratsList</key>
	<array>
		<dict>
			<key>karats_value</key>
			<string>10</string>
			<key>karats_persent</key>
			<string>41.67</string>
		</dict>
		<dict>
			<key>karats_value</key>
			<string>14</string>
			<key>karats_persent</key>
			<string>58.33</string>
		</dict>
		<dict>
			<key>karats_value</key>
			<string>18</string>
			<key>karats_persent</key>
			<string>75.00</string>
		</dict>
		<dict>
			<key>karats_value</key>
			<string>22</string>
			<key>karats_persent</key>
			<string>91.66</string>
		</dict>
		<dict>
			<key>karats_value</key>
			<string>24</string>
			<key>karats_persent</key>
			<string>100.00</string>
		</dict>
	</array>
	<key>WeightList</key>
	<array>
		<string>Grams</string>
		<string>Pennyweights</string>
	</array>
	<key>ResultMessageList</key>
	<array>
		<string>GREAT DEAL</string>
		<string>VERY GOOD DEAL</string>
		<string>FAIR DEAL</string>
		<string>CAN DO A LITTLE BETTER</string>
		<string>NOT A GOOD DEAL</string>
		<string>VERY BAD DEAL</string>
		<string>THEY ARE OVERPAYING YOU!</string>
	</array>
	<key>message1</key>
	<string>Use the iGoldDeal App to find out how much your gold is worth and if you werw offered a gold deal by a prospective gold buyer</string>
	<key>message2</key>
	<string>Enter the amount the gold buyer offered you for your gold. then enter the weight, units, and Karats for your gold to find out if you got a gold deal.</string>
	<key>weight_message</key>
	<string>Be carefull Some gold buyers pay you in pennyweights and think its grams !</string>
</dict>
</plist>
